body {
    font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
    margin: 0;
    padding: 0;
}

.navbar {
  height: 50px;
  background-color: red;
}

.navbar-nav {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  display: flex;
  justify-content: left;
  align-items: center;
}